<!-- Include the header partial -->
<%- include('partials/header') %>

<!-- Jumbotron for prominent content -->
<div class="jumbotron text-center">
  <div class="container">
    <!-- Key icon -->
    <i class="fas fa-key fa-6x"></i>
    <!-- Display a welcome message with the user's username -->
    <h2 class="display-6 mt-4">
      Welcome, <span class="user"> <%= user.username %> </span>
    </h2>
    <!-- Main heading -->
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <!-- Example secret text -->
    <p class="secret-text">Jack Bauer is my hero.</p>
    <!-- Horizontal rule for separation -->
    <hr />
    <!-- Button to log out -->
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <!-- Button to submit a new secret -->
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>

<!-- Include the footer partial -->
<%- include('partials/footer') %>
