* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(45deg, tan 50%, rgb(153, 112, 175) 50%);
}

.formarea {
  border-radius: 10px;
  box-shadow: 0 0 4px grey;
  padding: 2rem;
  width: 50%;
  margin: 4rem auto;
  background-color: #fff;
}

.formarea input.form-control {
  width: 100%;
}

.tasksList {
  padding: 2rem;
  background-color: #fff;
  margin: auto;
  width: 60%;
}

.task_title {
  width: 70%;
}
.task_status {
  width: 15%;
}
